@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap');
/*x-o font*/

@import url('https://fonts.googleapis.com/css2?family=Allan:wght@700&display=swap');/* Tic Tac Toe*/

@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
/*New Game Text*/
body{
	background-color:#e6ffff;
	display:flex;
	justify-content:center; /*left and right*/
	
}

main{
	/*	border:1px solid black;		(main border line)		*/
	text-align:center;
	margin:10px;
}

h1{
	color: #ff6666;
	font-size:125px;
	font-family: 'Allan', cursive;
	padding:10px;
	/*border:1px solid black; */
}



#board{
	display:grid;
	width:600px;
	height:600px;
	grid-template:1fr 1fr 1fr / 1fr 1fr 1fr;
	grid-gap:20px;
	background-color:#0089A7;
	border-radius:20px;
	padding:20px;
	/*border:20px solid black;*/
	box-shadow:7px 7px 0px rgba(37,83,89,1); /* video1 15:00 */
}

#board > input{
	background-color: #A5DEE4;  /*  #99ccff  */
	border-radius:7px;
	border:none;
	font-size:150px;	/*  x-o fontsize  */
	
}

#board > input:hover{
	background-color:#81C7D4;
}

input{
	font-family: 'Gochi Hand', cursive;			/*  x-o font  */
}

button{
	width:300px;
	padding: 20px;
	margin:75px;
	font-size:40px;
	font-weight: bolder;
	font-family: 'Architects Daughter', cursive;
	color:#ff6666;
	background-color:#81C7D4;
	border-style:none;
	border-radius:7px;
	box-shadow:4px 4px 0px rgba(37,83,89,1); 
}

button:hover{
	background-color:#0089A7;
	color:#E87A90;
}

#container{
	width:100%;
	height:100%;
	position:absolute;
	background-color:rgba(0,0,0,0.8);	/*  transparent end screen  */
	display:none;			/* end screen popup ON/OFF     none / grid*/
	justify-content:center;
	align-items:center;
}

#popup{
	width:500px;
	height:550px;
	background-color:#FEDFE1;
	border-radius:15px;		/* popup radius  */
	text-align:center;
	position:relative;
}

#cat{
	width:70%;
	position:absolute;
	top:34%;		
	right:15%;
	opacity: 0.9;
	border-radius:7px;
}

#x{
	width:9%;		/* x size  */
	position:absolute;
	top:86%;		/* x position  */
	right:46%;		/* x position  */
}

#popup > h2{
	line-height:365px;
	font-size:100px;
	color:#E87A90;
	font-family: 'Architects Daughter', cursive;
}

#popup > h3{
	line-height:80px;
	font-size: 75px;
	color:#E87A90;
	font-family: 'Architects Daughter', cursive;
}